h2= title
if parmament.linkis
  #post_parmament
    h4 下の投稿を参照しています
    .postitem
      p
        span.title !{parmament.post.title}　
        投稿者:　
        span.name(id="name" + parmament.post._id) !{parmament.post.name}
        span.date
          　投稿日:
        span.date(id="date" + parmament.post._id)
          !{render_date(parmament.post.date).getFullYear()}/!{render_date(parmament.post.date).getMonth() + 1}/!{render_date(parmament.post.date).getDate()}(!{(["日","月","火","水","木","金","土"])[render_date(parmament.post.date).getDay()]})!{render_date(parmament.post.date).getHours()}時!{parmament.post.date.getMinutes()}分!{parmament.post.date.getSeconds()}秒
          <a href="/thread/!{parmament.post.parentid}">◆</a>
      pre(id=parmament.post._id)
        span.text !{do_link_url(quotetext_parser(parmament.post.text))}
        if parmament.post.url !== ""
          !="\n\n"
          a(href=parmament.post.url,id="url" + parmament.post._id,target="_blank") !{parmament.post.url}
      pre
        if (parmament.post.reference !== "" && parmament.post.reference !== undefined)
            a(href="/post/" + parmament.post.reference)参考:!{parmament.post.reference_d}
      span(id="parentid" + parmament.post._id,style="display:none;") !{parmament.post.parentid}
#form
  form(action='/',name='postfrom',method='POST',id="newpost")
    p 投稿者　
      input(id="showname",name="showname",value=formval.name)
    p メール　
      input(id="email",name="email",size="30",value="")
    p 題名　　
      input(id="topic",name="topic",size="30",value=formval.topic)
      input(type="submit",value="投稿(Alt + Enter)")
      input(type="reset",value="消す(Alt + R)")
      input(type="hidden",value="",id="parentid",name="parentid",value=formval.parentid)
      input(type="hidden",value="",id="reference",name="reference",value=formval.reference)
      input(type="hidden",value="",id="reference_d",name="reference_d",value=formval.reference_d)
    br
    p 内容(Alt+P)
    p
      textarea(id="content",name="content",rows="5",cols="70") !{formval.content}
    br
    p URL
    p
      input(id="url",name="url",size="70")
    p(class="user")
      接続累計(サーバー起動時から):<span id="connect_counter">!{counter_data.connection}</span>　現在の参加者:<span id="user_counter">!{connect_user}</span>人
hr
p <b><a href="information.html">広報室</a></b>
pre
  ■：投稿にレスをする　◆：スレッド表示　▼:投稿への個別リンク(Parmanent Link)
  ※：新しい投稿は自動的に表示されます
hr(class="whiteline")
#nav
  a(onclick="done_read()") 既読(Alt+A)
  ｜
  a(href="/") 更新(Alt+1)
  ｜
  a(href="/0/") 0件(Alt+0)
  ｜
  a(href="/page/" + (page + 1)) 次
hr(class="whiteline")
#body
  for post,index in posts
   .postitem
      p
        <a href="/post/!{post._id}">▼</a>　
        span.title !{post.title}　
        投稿者:　
        span.name(id="name" + post._id) !{post.name}
        span.date
          　投稿日:
        span.date(id="date" + post._id)
          !{render_date(post.date).getFullYear()}/!{render_date(post.date).getMonth() + 1}/!{render_date(post.date).getDate()}(!{(["日","月","火","水","木","金","土"])[render_date(post.date).getDay()]})!{render_date(post.date).getHours()}時!{post.date.getMinutes()}分!{post.date.getSeconds()}秒
        if page === 0
            　<a href="#" onClick="set_post('!{post._id}');">■</a>　<a href="/thread/!{post.parentid}">◆</a>
        if page === 1
            　<a href="/post/!{post._id}">■</a>　<a href="/thread/!{post.parentid}">◆</a>　<a href="/post/!{post._id}">●</a>
      pre(id=post._id)
        span.text !{do_link_url(quotetext_parser(post.text))}
        if post.url !== ""
          !="\n\n"
          a(href=post.url,id="url" + post._id,target="_blank") !{post.url}
      pre
        if (post.reference !== "" && post.reference !== undefined)
            a(href="/post/" + post.reference)参考:!{post.reference_d}
      span(id="parentid" + post._id,style="display:none;") !{post.parentid}
#nav
  a(href="/") 更新
  　
  a(href="/page/" + ((page + 1).toString())) 次
#header
  if page === 0
    script(type="text/javascript",src="/socket.io/socket.io.js")
    script(type="text/javascript",src="/javascripts/shortcut.js")
    script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
    script(type="text/javascript",src="/javascripts/client.js")
