if parmament.linkis
  h2
   a(href="/")= title
else
  h2= title

p(style="margin:0px;padding:0px;font-size:12px;background-color:#000000;color:#00FF00;") Internet Explorerでは動かない可能性があります。ChromeかFirefoxを使いましょう。

if parmament.linkis
  #post_parmament
    h4 下の投稿を参照しています
    .postitem
      p
        <a id="score!{parmament.post._id}" onClick="do_score('!{parmament.post._id}');">
        [
        if parmament.post.score
            !=parmament.post.score
        else
            !=0
        ]</a>
        span.title !{parmament.post.title}　
        投稿者:　
        span.name(id="name" + parmament.post._id) !{parmament.post.name}
        span.date
          　投稿日:
        span.date(id="date" + parmament.post._id)
          !{utils.render_date(parmament.post.date).getFullYear()}/!{utils.render_date(parmament.post.date).getMonth() + 1}/!{utils.render_date(parmament.post.date).getDate()}(!{(["日","月","火","水","木","金","土"])[utils.render_date(parmament.post.date).getDay()]})!{utils.render_date(parmament.post.date).getHours()}時!{parmament.post.date.getMinutes()}分!{parmament.post.date.getSeconds()}秒
          <a href="/thread/!{parmament.post.parentid}">◆</a>
      pre(id=parmament.post._id)
        span.text !{utils.do_link_url(utils.quotetext_parser(parmament.post.text))}
        if parmament.post.url !== ""
          !="\n\n"
          a(href=parmament.post.url,id="url" + parmament.post._id,target="_blank") !{parmament.post.url}
      pre
        if (parmament.post.reference !== "" && parmament.post.reference !== undefined)
            a(href="/post/" + parmament.post.reference)参考:!{parmament.post.reference_d}
      span(id="parentid" + parmament.post._id,style="display:none;") !{parmament.post.parentid}
#form
  form(action='/',name='postfrom',method='POST',id="newpost")
    p 投稿者　
      input(id="showname",name="showname",value=formval.name)
    p メール　
      input(id="email",name="email",size="30",value="")
    p 題名　　
      input(id="topic",name="topic",size="30",value=formval.topic)
      input(type="submit",value="投稿",id="show_shortcut_s_post")
      input(type="reset",value="消す",id="show_shortcut_d_post")
      input(type="hidden",value="",id="parentid",name="parentid",value=formval.parentid)
      input(type="hidden",value="",id="reference",name="reference",value=formval.reference)
      input(type="hidden",value="",id="reference_d",name="reference_d",value=formval.reference_d)
    br
    p 内容 <span id="show_shortcut_textarea"></span>
    p
      textarea(id="content",name="content",rows="5",cols="70") !{formval.content}
    br
    p URL(Youtubeへのリンクを貼ると動画を埋め込みます)
    p
      input(id="url",name="url",size="70")
    p(class="user")
      接続累計(サーバー起動時から):<span id="connect_counter">!{counter_data.connection}</span>　投稿推移:<span id="post_g"></span>　現在の参加者:<span id="user_counter">!{connect_user}</span>人 <span id="user_g"></span>
    pre
      input(type="checkbox",id="sound_on",onClick="soundon_save();")
      新着時には音を鳴らす ｜ 
      input(type="checkbox",id="tarenagashi_on",onClick="tarenagashi_save();")
      新着投稿はそのまま流す
    pre
      a(onclick="show_css_custom();") CSSをカスタマイズする
      ｜
      a(onclick="show_shortcut_custom();") ショートカットキーをカスタマイズする
      #css_custom
         h4 CSSをカスタマイズする
         textarea(id="css_custom_data",rows="5",cols="70")
         p
           a(onclick="apply_css_custom();") CSSを保存して反映する
           ｜
           a(onclick="return_css_custom();") 適応されているCSSに戻す
           ｜
           a(onclick="not_apply_css_custom();") この窓を閉じる
      #shortcut_custom
         h4 ショートカットキーをカスタマイズする
         ul
           li
             input(id="shortcut_reflesh",  value="Alt+1") 
             　更新
           li
             input(id="shortcut_reflesh_0",value="Alt+0")
             　0件
           li
             input(id="shortcut_a_read"   ,value="Alt+A")
             　既読
           li
             input(id="shortcut_show_post",value="Alt+S")
             　投稿を表示
           li
             input(id="shortcut_s_post"   ,value="Alt+Enter")
             　投稿する
           li
             input(id="shortcut_d_post"   ,value="Alt+R")
             　消す
           li
             input(id="shortcut_textarea" ,value="Alt+P")
             　テキストエリア
         p
          a(onclick="apply_shortcut_custom();")ショートカットキーを保存する
          ｜
          a(onclick="return_shortcut_custom();")適応されているショートカットに戻す
          ｜
          a(onclick="not_apply_shortcut_custom();")この窓を閉じる
hr(class="whiteline",style="margin-bottom:0px;")
p(class="link") 
  <b><a href="/information.html">広報室</a>｜<a href="/log/">過去ログ</a>｜<a href="/sp/">Smartphone</a></b>
  for link in links
      if link.url == "None"
        ｜<b>!{link.name}</b>
      else
        ｜<a href="!{link.url}" target="_blank">!{link.name}</a> 
hr(class="whiteline",style="margin-top:0px;")
pre(id="explain")
  ■：投稿にレスをする　◆：スレッド表示　▼:投稿への個別リンク(Permanent Link)
  [数字]:発言のスコア(クリックするごとに上がります。笑ったときなどにどうぞ)
  !="\n\n"
  ※：新しい投稿は自動的に表示されます
#nav
  a(onclick="done_read()") 既読<span id="show_shortcut_a_read"></span>
  ｜
  a(href="/") 更新<span id="show_shortcut_reflesh"></span>
  ｜
  a(href="/0/") 0件<span id="show_shortcut_reflesh_0"></span>
  ｜
  a(href="/page/" + (page + 1)) 次
#body
  for post,index in posts
   .postitem
     div(id="post" + post._id)
      p
        <a href="/post/!{post._id}">▼</a> 
        if page == 0
           <a id="score!{post._id}" onClick="do_score('!{post._id}');">[
           if post.score
              !=post.score
           else
              !=0
           ]</a>
        else
           [
           if post.score
              !=post.score
           else
              !=0
           ]
        span.title !{post.title}　
        投稿者:　
        span.name(id="name" + post._id) !{post.name}
        span.date
          　投稿日:
        span.date(id="date" + post._id)
          !{utils.render_date(post.date).getFullYear()}/!{utils.render_date(post.date).getMonth() + 1}/!{utils.render_date(post.date).getDate()}(!{(["日","月","火","水","木","金","土"])[utils.render_date(post.date).getDay()]})!{utils.render_date(post.date).getHours()}時!{post.date.getMinutes()}分!{post.date.getSeconds()}秒
        if page === 0
            　<a href="#" onClick="set_post('!{post._id}');">■</a>　<a href="/thread/!{post.parentid}">◆</a>
        if page >= 1
            　<a href="/post/!{post._id}">■</a>　<a href="/thread/!{post.parentid}">◆</a>
      pre(id=post._id)
        span.text !{utils.do_link_url(utils.quotetext_parser(post.text))}
        if post.url !== ""
          if post.url.match(/http(s)?:\/\/(www\.)?youtube\.com\/watch\?(.*)?v=/)
            !="\n\n"
            !=utils.render_youtube(post.url)
          !="\n\n"
          a(href=post.url,id="url" + post._id,target="_blank") !{post.url}
      pre
        if (post.reference !== "" && post.reference !== undefined)
            a(href="/post/" + post.reference)参考:!{post.reference_d}
      span(id="parentid" + post._id,style="display:none;") !{post.parentid}
#nav
  a(href="/") 更新
  　
  a(href="/page/" + ((page + 1).toString())) 次
#header
  <!-- [if (gte IE 9)|!(IE)]><!-->
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  <!--<![endif]-->
  <!--[if lte IE 8]>
  script(type="text/javascript",src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js")
  <![endif]-->
  script(type="text/javascript",src="/javascripts/jquery.sparkline.min.js")
  script(type="text/javascript",src="/javascripts/persist-min.js")
  script(type="text/javascript",src="/javascripts/persist-client.js")
  script(type="text/javascript",src="/javascripts/shortcut.js")
  if page === 0
    script(type="text/javascript",src="/socket.io/socket.io.js")
    script(type="text/javascript",src="/javascripts/client.js")
