h2= title
hr(class="whiteline")
#body
  for post,index in posts
   .postitem
      p
        span.title !{post.title}　
        投稿者:　
        span.name(id="name" + post._id) !{post.name}
        span.date
         投稿日:
         !{post.date.getFullYear()}/!{post.date.getMonth()}/!{post.date.getDate()}(!{(["日","月","火","水","木","金","土"])[post.date.getDay()]})!{post.date.getHours()}時!{post.date.getMinutes()}分!{post.date.getSeconds()}秒
        　<a href="/post/!{post._id}">■</a>　<a href="/thread/!{post.parentid}">◆</a>
      pre(id=post._id)
        span.text !{quotetext_parser(post.text)}
      span(id="parentid" + post._id,style="display:none;") !{post.parentid}
