h2= title
hr(class="whiteline")
#body
  for post,index in posts
   .postitem
      p
        span.title !{post.title}　
        投稿者:　
        span.name(id="name" + post._id) !{post.name}
        span.date
         　投稿日:
         !{render_date(post.date).getFullYear()}/!{render_date(post.date).getMonth() + 1}/!{render_date(post.date).getDate()}(!{(["日","月","火","水","木","金","土"])[render_date(post.date).getDay()]})!{render_date(post.date).getHours()}時!{post.date.getMinutes()}分!{post.date.getSeconds()}秒
        　<a href="/post/!{post._id}">■</a>　<a href="/thread/!{post.parentid}">◆</a>
      pre(id=post._id)
        span.text !{quotetext_parser(post.text)}
        if post.url !== ""
          !="\n\n"
          a(href=post.url,id="url" + post._id,target="_blank") !{post.url}
        if (post.reference !== "" || post.reference !== undefined)
            !="\n\n"
            a(href="/post/" + post.reference)参考:!{post.reference_d}
      span(id="parentid" + post._id,style="display:none;") !{post.parentid}
